* {
    font-family:serif;
    background-color: grey;
    color: black;
    text-align: center;
}

h1, h2, h3, h4 {
    color: #FF5300;
    border: 2px solid #FFC300;
    background-color: #0160BB;
}

div {
    width: 50%;
}

h1 {
    font-size:xx-large;
    color: #FF5300;
    text-align: center;
}

p {
    padding: 14px;
    font-size: medium;
    margin-right: 50%;
}

main {
    display: flex;
}

button {
    color:#FFC300;
    background-color: #0160BB;
    margin-right: 25%;
}

/*
Found help from the following stackoverflow page
https://stackoverflow.com/questions/32039846/can-i-use-css-to-add-a-bullet-point-to-any-element
*/

ol li {
    display: list-item;                                                       
    list-style-type: decimal;     
    list-style-position: inside;
    text-align: left;
    margin-left: 20px;
}

ul li {
    display: list-item; 
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
    margin-left: 20px;
}